<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/favicon.ico">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
        integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/reset.css">
    <link rel="stylesheet" href="~/styles/style.css">
</head>

<body class="primary-element">

    <div class="container">
        <header class="py-3">
            <div class="row flex-column flex-sm-row gap-3 gap-sm-0 justify-content-between align-items-center">
                <div class="col-4 d-flex gap-2 justify-content-center">
                    <a class="link-account hover-color theme-primary-text text-decoration-none
                             d-flex justify-content-center align-items-center p-2"
                        href="mailto:zozankaye295@gmail.com">
                        <i class="fa-solid fa-envelope theme-secondary-text inherit-color"></i>
                    </a>
                    <a href="https://x.com/ZozanKaya573310" class="link-account hover-color theme-primary-text text-decoration-none
                             d-flex justify-content-center align-items-center p-2">
                        <i class="fa-brands fa-twitter theme-secondary-text inherit-color"></i>
                    </a>
                    <a href="https://github.com/zozan-kaya/" class="link-account hover-color theme-primary-text text-decoration-none
                             d-flex justify-content-center align-items-center p-2">
                        <i class="fa-brands theme-secondary-text inherit-color fa-github"></i>
                    </a>
                </div>
                <div class="col-sm-4 col-12 d-flex justify-content-center">
                    <a style="font-size: 30px; font-weight: 600;" class="text-center" href="index.html">Zozan Kaya</a>
                </div>
                <div class="col-4"></div>
            </div>

            <div class="d-flex align-items-center w-100 justify-content-center">
                <hr class="theme-secondary-text" style="width: 87.5%;">
            </div>
            <div class="nav-scroller py-1 mb-2 d-flex align-items-center justify-content-center">
                <nav class="nav d-flex flex-sm-row flex-column gap-sm-5 gap-2 justify-content-center">
                    <a style="font-weight: 600;"
                        class="p-2 theme-secondary-text @(ViewBag.active == "index" ? "active-page" : "hover-color hover-border")"
                        asp-controller="Home" asp-action="Index">Anasayfa</a>
                    <a style="font-weight: 600;"
                        class="p-2 theme-secondary-text @(ViewBag.active == "about" ? "active-page" : "hover-color hover-border")"
                        asp-controller="Home" asp-action="About">Hakkımda</a>
                    <a style="font-weight: 600;"
                        class="p-2 theme-secondary-text @(ViewBag.active == "blog" ? "active-page" : "hover-color hover-border")"
                        asp-controller="Home" asp-action="Blog">Blog</a>
                    <a style="font-weight: 600;"
                        class="p-2 theme-secondary-text @(ViewBag.active == "contact" ? "active-page" : "hover-color hover-border")"
                        asp-controller="Home" asp-action="Contact">İletişim</a>
                </nav>
            </div>
            <hr class="theme-secondary-text">
        </header>
    </div>

    <main role="main" class="container mb-5">
        @RenderBody()
    </main>
    <footer
        class="@(ViewBag.active == "blog-post" ? "fixed-footer" : "") @(ViewBag.active == "contact" ? "fixed-footer-contact" : "") d-flex flex-column justify-content-center align-items-center third-element pt-3 pb-3 ">
        <div class="d-flex flex-column flex-md-row w-50 justify-content-lg-between justify-content-center gap-5 mb-4">
            <div>
                <h5 style="font-weight: 600; margin-bottom: -10px;">Sayfalar</h5>
                <hr>
                <div class="d-flex flex-column gap-2">
                    <a class="hover-border" href="index.html">Anasayfa</a>
                    <a class="hover-border" href="about.html">Hakkımda</a>
                    <a class="hover-border w-75" href="contact.html">İletişim</a>
                    <a class="hover-border w-50" href="blog.html">Blog</a>
                </div>
            </div>
            <div>
                <h5 style="font-weight: 600; margin-bottom: -10px;">Sosyal Hesaplar</h5>
                <hr>
                <div class="d-flex flex-column gap-2">
                    <div class="col-4 d-flex gap-2">
                        <a class="link-account hover-color theme-primary-text text-decoration-none
                             d-flex justify-content-center align-items-center p-2"
                            href="mailto:zozankaye295@gmail.com">
                            <i class="fa-solid fa-envelope theme-secondary-text inherit-color"></i>
                        </a>
                        <a href="https://x.com/ZozanKaya573310" class="link-account hover-color theme-primary-text text-decoration-none
                             d-flex justify-content-center align-items-center p-2">
                            <i class="fa-brands fa-twitter theme-secondary-text inherit-color"></i>
                        </a>
                        <a href="https://github.com/zozan-kaya/" class="link-account hover-color theme-primary-text text-decoration-none
                             d-flex justify-content-center align-items-center p-2">
                            <i class="fa-brands theme-secondary-text inherit-color fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <span class="theme-third-text">©2025 / Zozan Kaya - Tüm Hakları Saklıdır.</span>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
